:root {
  --background: #1d1c1c;
  --foreground: #fff;
  --purple: #8c52ff;
  --green: #c1ff72;
  --Black: #000;
}

*{
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
